{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }]
  ],
  "plugins": [
    ["transform-react-jsx", { "pragma": "Preact.h" }],
    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-object-rest-spread"
  ]
}
